<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HACKEANDO</title>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="skull.svg" type="image/svg+xml" id="favicon">
</head>
<body>
    <div class="troll_hacking">
        <canvas class='hacker-3d-shiz'></canvas>
        <canvas class='bars-and-stuff'></canvas>
        <div class="output-console"></div>
    </div>
    <div class="pdf_preview">
        <iframe src="campanha_pishing.pdf" allow="fullscreen"></iframe>
    </div>
    <script src="script.js"></script>
</body>
</html>